{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <h1>Lista de Alunos</h1>
    <table class="table table-bordered table-Red">

        


  <thead>
            <tr>
                

              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
              <th scope="col">Data Nascimento</th>
              <th scope="col">Descrição</th>
              
              
              
            </tr>
          </thead>
        

        <thead>
            
          <tr>
            
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.email }}</td>
            <td>{{ aluno.telefone }}</td>
            <td>{{ aluno.data_nascimento }}</td>
            <td>{{ aluno.description }}</td>
     
          </tr>
        </thead>
        <tbody>
            {% for aluno in alunos_list %}
              <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.telefone }}</td>
                <td>{{ aluno.data_nascimento }}</td>
                <td>{{ aluno.description }}</td>

              </tr>
            {% empty %}
              <tr>
                <td colspan="4">Nenhum aluno encontrado.</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
  
  </div>
{% endblock %}

